In [ ]:
zip function:
    to combine two iterables into dict ,list of tuple ,tuple of tuple

In [11]:
t1 = [1,2,3]
t2 =['python','java','hadoop','ml','ds']

In [12]:
#{1:'python',2:'java',3:'hadoop'}

In [13]:
dict(zip(t1,t2))

{1: 'python', 2: 'java', 3: 'hadoop'}

In [14]:
dict(zip(t2,t1))

{'python': 1, 'java': 2, 'hadoop': 3}

In [15]:
list(zip(t2,t1))

[('python', 1), ('java', 2), ('hadoop', 3)]

In [17]:
tuple(zip(t2,t1))

(('python', 1), ('java', 2), ('hadoop', 3))

In [18]:
header = ['id','name','sal']

row = [101,'python',26161]

row1 = [506,'hadoop',161616]

In [19]:
dict(zip(header,row))

{'id': 101, 'name': 'python', 'sal': 26161}

In [20]:
dict(zip(header,row1))

{'id': 506, 'name': 'hadoop', 'sal': 161616}

In [21]:
for r in [row,row1]:
    print(dict(zip(header,r)))

{'id': 101, 'name': 'python', 'sal': 26161}
{'id': 506, 'name': 'hadoop', 'sal': 161616}

In [22]:
t = {'id': 101, 'name': 'python', 'sal': 26161}

In [23]:
keys,values = t.keys(),t.values()

In [24]:
keys

dict_keys(['id', 'name', 'sal'])

In [25]:
values

dict_values([101, 'python', 26161])

In [26]:
header = ['id','name','sal']

row = [101,'python',26161]

In [42]:
tt = list(zip(header,row))

In [43]:
tuple(zip(*tt))

(('id', 'name', 'sal'), (101, 'python', 26161))

In [ ]:
code optimization tech:
    lambda expression